#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.chats-messages {
  background-color: #927fbf;
  border-radius: 8px;
  padding: 4px;
  width: fit-content;
}
.scrollable-div {
  max-height: 150px;
  overflow-y: auto;
  padding: 10px;
  text-align: right;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
